<%= form_for(@question, :html => { :class => "form-horizontal" }) do |f| %>
<div class="form-actions">
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label" for="param_name">Вопрос</label>
    <div class="controls">
      <%= f.text_field :question %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="param_name">Ответ</label>
    <div class="controls">
        <%= f.cktext_area :answer %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="param_name">Скртый</label>
    <div class="controls">
      <%= f.select(:status, options_for_select([['Да', 1], ['Нет', 0]])) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-primary" %>
  </div>
</div>
<% end %>
