<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title %> — Like for me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
  <style type="text/css">
      body {
          padding-top: 20px;
          padding-bottom: 60px;
      }

          /* Custom container */
      .container {
          margin: 0 auto;
          max-width: 1000px;
      }
      .container > hr {
          margin: 60px 0;
      }

          /* Main marketing message and sign up button */
      .jumbotron {
          margin: 80px 0;
          text-align: center;
      }
      .jumbotron h1 {
          font-size: 100px;
          line-height: 1;
      }
      .jumbotron .lead {
          font-size: 24px;
          line-height: 1.25;
      }
      .jumbotron .btn {
          font-size: 21px;
          padding: 14px 24px;
      }

          /* Supporting marketing content */
      .marketing {
          margin: 60px 0;
      }
      .marketing p + h4 {
          margin-top: 28px;
      }


          /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
          padding: 0;
      }
      .navbar .nav {
          margin: 0;
          display: table;
          width: 100%;
      }
      .navbar .nav li {
          display: table-cell;
          width: 1%;
          float: none;
      }
      .navbar .nav li a {
          font-weight: bold;
          text-align: center;
          border-left: 1px solid rgba(255,255,255,.75);
          border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
          border-left: 0;
          border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
          border-right: 0;
          border-radius: 0 3px 3px 0;
      }
      .loggin_vk {
        float: right;
        padding-top: 5px;
      }
  </style>
</head>
<body>

<div class="container">
<div class="alert alert-info" style="height: 21px;display: none" id="notice-message-field">
  <div id="notice-message" style="float: left"></div>
  <button id="close-notice-button" class="btn btn-primary btn-mini" style="float: right;">Закрыть уведомление</button>
</div>
  <div class="masthead">
    <div class="loggin_vk" style="margin-top: 72px;">
      <% if current_user %>
        <span>Здравствуйте, </span><%= link_to current_user.name, '/cabinet' %> | <%= link_to "Выход", signout_path %>
      <% else %>
        <span><strong>Войти с помощью </strong></span>
        <a href="/auth/vkontakte" target=_blank><img src="/im/vkontakte.png"></a>
      <% end %>
    </div>
    <a href="/" style="text-decoration: none"><img src="/im/logo.png" width="220"></a>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <% if current_user %>
              <li class="<%= is_current('cabinet', 'index', nil)%>"><a href="/cabinet">Кабинет</a></li>
            <% else %>
              <li class="<%= is_current('main', 'index', nil)%>"><a href="/">Главная</a></li>
            <% end %>            
            <% get_available_text_page.each do |item| %>
                <li class="<%= is_current_textpage('main', 'textpage', item.slug)%>"><a href="/<%= item.slug %>"><%= item.title %></a></li>
            <% end %>
            <li class="<%= is_current_textpage('main', 'faq', nil)%>"><a href="/faq">Вопрос - ответ</a></li>
            <li class="<%= is_current_textpage('main', 'blog', nil)%>"><a href="/blog">Блог</a></li>
            <li class="<%= is_current_textpage('main', 'feedback', nil)%>"><a href="/feedback">Написать нам</a></li>
            <!--<li><a href="#">Services</a></li>
            <li><a href="#">Downloads</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li> -->
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
  </div>

  <%= yield %>
  <% if controller.action_name != 'blog' && controller.action_name != 'blog_details' %>
    <hr>
  <% end %>
  <!-- Example row of columns -->
  <% if controller.action_name != 'blog' && controller.action_name != 'blog_details' %>
  <div class="row-fluid">
    <% get_last_posts.each do |item| %>
    <div class="span4">
      <h4><%= item.title %></h4>
      <p><%= item.intro.html_safe %></p>
      <p><a class="btn btn-primary" href="/blog/<%= item.id %>">Подробнее &raquo;</a></p>
    </div>
    <% end %>
  </div>
  <% end %>

  <% if controller.action_name != 'blog' %>
      <hr>
  <% end %>

  <div class="footer">
    <p>&copy; <%= get_settings_value('app_name') %> 2013</p>
  </div>

</div> <!-- /container -->

</body>
</html>
